.f-p-0 {
    padding: 0 !important
}

@media not screen and (-webkit-min-device-pixel-ratio: 2) {
    .f-border {
        border: 1px solid #ddd;
        border-radius: 0;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .f-border {
        position: relative;
        border-radius: 0;
    }

    .f-border::after {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        border: 1px solid #ddd;
        content: "";
        box-sizing: border-box;
        -webkit-transform-origin: top left;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 2) {
    .f-border::after {
        width: 200%;
        height: 200%;
        border-radius: 0;
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 3) {
    .f-border::after {
        width: 300%;
        height: 300%;
        border-radius: 0;
        -webkit-transform: scale(0.3333333333, 0.3333333333);
        transform: scale(0.3333333333, 0.3333333333);
    }
}

@media not screen and (-webkit-min-device-pixel-ratio: 2) {
    .f-border-bottom {
        border-bottom: 1px solid #ddd
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .f-border-bottom {
        position: relative
    }

    .f-border-bottom::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        pointer-events: none;
        background-color: #ddd;
        content: "";
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) {
    .f-border-bottom::after {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 2) {
    .f-border-bottom::after {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 3) {
    .f-border-bottom::after {
        -webkit-transform: scaleY(0.3333333333);
        transform: scaleY(0.3333333333);
    }
}

@media not screen and (-webkit-min-device-pixel-ratio: 2) {
    .f-border-radius {
        border: 1px solid #ddd;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 40px;
        border-top-left-radius: 10px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .f-border-radius {
        position: relative;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 40px;
        border-top-left-radius: 10px;
    }

    .f-border-radius::after {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        border: 1px solid #ddd;
        content: "";
        box-sizing: border-box;
        -webkit-transform-origin: top left;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 2) {
    .f-border-radius::after {
        width: 200%;
        height: 200%;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 60px;
        border-bottom-left-radius: 80px;
        border-top-left-radius: 20px;
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 3) {
    .f-border-radius::after {
        width: 300%;
        height: 300%;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 90px;
        border-bottom-left-radius: 120px;
        border-top-left-radius: 30px;
        -webkit-transform: scale(0.3333333333, 0.3333333333);
        transform: scale(0.3333333333, 0.3333333333);
    }
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10vw
}

html body {
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 320px) {
    html {
        font-size: 32px
    }
}

html[data-content-max] body[data-content-max] {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 540px) {
    html[data-content-max] {
        font-size: 54px
    }
}

body {
    font-family: "Microsoft YaHei";
    font-size: .3733333333rem;
    background-color: #f8f8f8;
    border-width: 45px;
}

.container {
    background-color: #fff
}

header {
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    background-color: #f2f2f2;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav ul li {
    display: flex;
    flex-wrap: wrap;
    width: 2.6666666667rem;
    justify-content: center;
}

nav ul .icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-bottom: .2666666667rem;
    line-height: 1.6rem;
    text-align: center;
    background-color: #f2f2f2;
}

main {
    padding: .2666666667rem
}

main h3 {
    position: relative;
    margin-top: .6666666667rem;
    margin-left: .3466666667rem;
    font-size: .4rem;
}

main h3::before {
    position: absolute;
    left: -.2666666667rem;
    width: .16rem;
    height: 100%;
    background-color: #fc8200;
    content: "";
}

.info-items {
    margin-top: .2666666667rem;
    margin-bottom: .2666666667rem;
}

.info-item {
    display: flex;
    padding: .4rem;
    padding-left: 0;
    margin-top: .2666666667rem;
}

@media not screen and (-webkit-min-device-pixel-ratio: 2) {
    .info-item:not(.info-item__tel) {
        border: 1px solid #ddd;
        border-radius: 50px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .info-item:not(.info-item__tel) {
        position: relative;
        border-radius: 50px;
    }

    .info-item:not(.info-item__tel)::after {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        border: 1px solid #ddd;
        content: "";
        box-sizing: border-box;
        -webkit-transform-origin: top left;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 2) {
    .info-item:not(.info-item__tel)::after {
        width: 200%;
        height: 200%;
        border-radius: 100px;
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 3) {
    .info-item:not(.info-item__tel)::after {
        width: 300%;
        height: 300%;
        border-radius: 150px;
        -webkit-transform: scale(0.3333333333, 0.3333333333);
        transform: scale(0.3333333333, 0.3333333333);
    }
}

@media not screen and (-webkit-min-device-pixel-ratio: 2) {
    .info-item.info-item__tel {
        border-bottom: 1px solid #ddd
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .info-item.info-item__tel {
        position: relative
    }

    .info-item.info-item__tel::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        pointer-events: none;
        background-color: #ddd;
        content: "";
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) {
    .info-item.info-item__tel::after {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 2) {
    .info-item.info-item__tel::after {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 3) {
    .info-item.info-item__tel::after {
        -webkit-transform: scaleY(0.3333333333);
        transform: scaleY(0.3333333333);
    }
}

@media not screen and (-webkit-min-device-pixel-ratio: 2) {
    .info-item:only-of-type {
        border: 1px solid #ddd;
        border-radius: 0;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .info-item:only-of-type {
        position: relative;
        border-radius: 0;
    }

    .info-item:only-of-type::after {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        border: 1px solid #ddd;
        content: "";
        box-sizing: border-box;
        -webkit-transform-origin: top left;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 2) {
    .info-item:only-of-type::after {
        width: 200%;
        height: 200%;
        border-radius: 0;
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 3) {
    .info-item:only-of-type::after {
        width: 300%;
        height: 300%;
        border-radius: 0;
        -webkit-transform: scale(0.3333333333, 0.3333333333);
        transform: scale(0.3333333333, 0.3333333333);
    }
}

@media not screen and (-webkit-min-device-pixel-ratio: 2) {
    .info-item.hover {
        border-top: 3px dotted #0f0;
        border-right: 2px dotted #ddd;
        border-bottom: 1px dotted #0f0;
        border-left: 3px dotted #0f0;
        border-radius: 0;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .info-item.hover {
        position: relative;
        border-radius: 0;
    }

    .info-item.hover::after {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        border-top: 3px solid #0f0;
        border-right: 2px solid #ddd;
        border-bottom: 1px solid #0f0;
        border-left: 3px solid #0f0;
        content: "";
        box-sizing: border-box;
        -webkit-transform-origin: top left;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 2) {
    .info-item.hover::after {
        width: 200%;
        height: 200%;
        border-radius: 0;
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 3) {
    .info-item.hover::after {
        width: 300%;
        height: 300%;
        border-radius: 0;
        -webkit-transform: scale(0.3333333333, 0.3333333333);
        transform: scale(0.3333333333, 0.3333333333);
    }
}

.info-item span {
    min-width: 1.6rem;
    text-align: center;
}

@media not screen and (-webkit-min-device-pixel-ratio: 2) {
    .info-item span {
        border-right: 1px solid #ddd
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .info-item span {
        position: relative
    }

    .info-item span::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        pointer-events: none;
        background-color: #ddd;
        content: "";
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) {
    .info-item span::after {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 2) {
    .info-item span::after {
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 3) {
    .info-item span::after {
        -webkit-transform: scaleX(0.3333333333);
        transform: scaleX(0.3333333333);
    }
}

@media not screen and (-webkit-min-device-pixel-ratio: 2) {
    .info-item span.hover {
        border-right: 5px solid #0f0
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .info-item span.hover {
        position: relative
    }

    .info-item span.hover::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 5px;
        height: 100%;
        pointer-events: none;
        background-color: #0f0;
        content: "";
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 2) {
    .info-item span.hover::after {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 2) {
    .info-item span.hover::after {
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 3) {
    .info-item span.hover::after {
        -webkit-transform: scaleX(0.3333333333);
        transform: scaleX(0.3333333333);
    }
}

.info-item input {
    width: 100%;
    font-size: .3733333333rem;
    border: none;
    outline: none;
    caret-color: #fc8200;
}

.info-item textarea {
    width: 100%;
    height: 3.3333333333rem;
    padding: .2666666667rem;
    font-family: "Microsoft YaHei";
    font-size: .3733333333rem;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    border: none;
    caret-color: #fc8200;
}

.info-confirm {
    margin-bottom: .5333333333rem;
    text-align: center;
}

.info-confirm__btn {
    display: inline-block;
    width: 2.6666666667rem;
    height: 1.0666666667rem;
    margin-top: 1.0666666667rem;
    line-height: 1.0666666667rem;
    color: #fff !important;
    text-align: center;
    text-decoration: none !important;
    background-color: #fc8200;
}

footer {
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    background-color: #f2f2f2;
}
